
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    margin-top: -10px;
}


.hd{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    padding-top: 0px;
}
.logo {
    width: 75px;
}
.searchicon{
    width: 20px;
    height: 20px;

}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.navigation a {
    text-decoration: none;
    color: rgb(109, 109, 121);
    font-size: 1.0em;
    font-weight: 500;
    transition: 0.7 ease;
    
}

.navigation a:hover{
    color: red;
    transform: scale(1.1);
}



.menu {
    /* Pour que le menu reste en place quand on scroll */
    position: fixed;
    /* Pour que le menu ne soit pas sur le texte et que ce dernier puisse être sélectionné */
    width: 0px;
    display: none;
    z-index: 2;
  }

  #hamburger {
    /* Pour que la checkbox ne s'affiche pas */
    display: none;
  }
  
  #hamburger-logo {
    /* Pour que le curseur soit un pointeur */
    cursor: pointer;
    background: black;
    width: 200px;
    display: block;
    color: white;
    /* Pour que le menu hamburger s'affiche toujours */
    text-align: right;
    /* Pour que le menu hamburger soit "rangé" par défaut */
    transform: translateX(-90%);
    padding: 10px;
  
  }
  
  .burg{
    display: flex;
        flex-direction: column;
        background: black;
        overflow: hidden;
        width: 200px;
        color: white;
        /* Pour que les liens soient "rangés" par défaut */
        transform: translateX(-210px);
      }
      
  
  #hamburger-logo,nav {
    /* Pour qu'il y ait une animation */
    transition: 0.7s;
  }
  
  /* Lorsque #hamburger est coché, le #hamburger-logo et le nav qui sont dans le même parent changent de propriété */
  #hamburger:checked ~ #hamburger-logo,
  #hamburger:checked ~ nav {
    /* Changement de la position pour afficher les menus */
    transform: translate(-8px);
  }
  .menu nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  .menu nav a :hover{
    background-color: blueviolet;
  }


.scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.caroussel1{
    width: 90%;
    overflow:hidden;
}
.images{
    display: flex;
    margin-top: 70px;
    height: auto;
    animation-duration: 10s;
    animation-name: myImages;
    animation-iteration-count: infinite;
}
.caroussel1 img{
    width: 100%;
}
.images:hover{
    cursor: pointer;
    animation-play-state: paused;
    }
    
@keyframes myImages{
    0% {
        transform: translateX(0px);
    }
    2% {
        transform: translateX(-100%);
    }
    25% {
        transform: translateX(-100%);
    }
    27% {
        transform: translateX(-200%);
    }
    50% {
        transform: translateX(-200%);
    }
    52% {
        transform: translateX(-300%);
    }
    75% {
        transform: translateX(-300%);
    }
    75.5% {
        transform: translateX(0%) ;
    }
}


.band{
        display: flex;
        justify-content: center;
        width: 170px;
        position: relative;
        left: 40%;
        height: auto;
        margin-top: 50px;
        overflow: hidden;
        
    }
    .band p {
        display: flex;
        font-size: 2em;
        font-weight: 700;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 20px;
        text-align: center;
        color: rgb(28, 24, 68);
        animation-name: passage;
        animation-duration: 15s;
        animation-iteration-count: infinite ;
        animation-timing-function: linear;
    }
    @keyframes passage {
    0% {
    transform: translatex(450px );
      }
    50% {
        transform: translateX(-450px);
      }  
    50.01% {
        transform: translateX(450px);
      } 
    100%{
        transform: translateX(-450px)
    }
    0%{
        transform: translateX(450px)
    }
    } 


h2{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 2.8em;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(28, 24, 68);

}
.section3{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
}

.scroll2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    
}

.caroussel2{
    width: 100%;
    overflow:hidden;
}
.images2{
    display: flex;
    animation-duration: 30s;
    animation-name: myImages2;
    animation-iteration-count: infinite;
}
.image-ag{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}
.section3 img{
    width: 400px;
}


@keyframes myImages2{
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(0px) ;
    }
}

.knowmore{
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 50px;
    text-align: left;
}
.what{
    width: 35%;
    margin-top: 10px;
    margin-right: 10px;
}
.mobilization{
    width: 20%;
    margin: 10px;
}
.knowmore h3{
    font-size: 1.5em;
    color:     color: rgb(28, 24, 68);
    
}


.knowmore p{
    font-size: 1.0em;
    word-spacing: 4px;
    line-height: 25px;
    color:    color: rgb(109, 109, 121);
    
}
.knowmore a{
    font-size: 1.1em ;
    font-weight: 600;
    text-decoration: none;
}
.partners{
    width: 100%;
}
.partners .separator{
    border-top: dotted  rgba(236, 126, 62, 0.945) 5px;
    margin: 50px 300px;
}
.partenaires{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    margin-bottom: 50px;
    padding: 10px;
 
}
.partenaires div{
    display: flex;
    align-self: center;
    width: 100px;
    margin: 30px;
}

.partenaires img{
    width: 100%;
}
.contact-us{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    background-color: gold;
    margin: 5%;
}
.contact-us h2{
    width: 400px;
    font-weight: 700;
}
.contact-us h4{
margin: 10px;
font-size: 1.5em;
color: rgb(28, 24, 68);;
}
.contact-us .button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.contact-us .button a{
    display: inline;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(224, 34, 224, 0.801);
    width: 180px;
    border-radius: 10px;
    padding: 15px;
    font-weight: 600;

}
.contact-us i{
    margin: 8px;
}
.contact-us .button a:hover{
    background-color: red;
    transform: scale(0.8);}
footer{
    display: grid;
    background-color: rgba(236, 126, 62, 0.945);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 30px;
    align-self: center;
    height: 300px;
    margin-top: 50px;
    padding: 30px;
    padding-bottom: 0px;
    color: white;

}
.footer4 button , .footer4 button a{
    background-color:  rgba(236, 126, 62, 0.945);
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    text-decoration: none;
    font-weight: 700;
    color: white;
}

footer h4{
    font-size: 1.3em;
}
.footer2 li a , .footer4 a{
    color: white;
    text-decoration: none;
}
.footer3 a{
    color: white;
    text-decoration: none;
    font-weight: 700;}



.droitreserve{
    grid-column: 1/5;
    text-align: center;
    align-self: center;
}

@media screen and (max-width: 800px ){
    .navigation{
        display: none;
    }
    .menu {
        display : block;
    }
    
    .logo {
        width: 55px;
    }
    .searchicon{
        width: 15px;
        height: 15px;
    }
    .scroll{
        margin: 10px;

    }
   
   
    h2{
        text-align: center;
        font-size: 1.4em;
        font-weight: 300;
    }
    .section2{
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
    .section3{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
    }
    
    .knowmore{
        display: flex;
        flex-direction: column;  
        width: 90%;  }
    .what, .mobilization{
        margin-bottom:-10px;
        width: 100%;
}
    
    
    .partenaires{
        margin-left: 0px;
        margin-right: 0px
    }
    .contact-us{
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        align-items: center;
        text-align: center;
        margin: 0px;
    }
    
    
    footer{
    display: flex;
    flex-direction: column;    
    height: fit-content;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    }


}

    


    



